#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	install -Dm755 termuxify.sh debian/termuxify/data/data/com.termux/files/usr/bin/termuxify.sh
	install -d debian/termuxify/data/data/com.termux/files/usr/share/termuxify
	cp -r colors fonts debian/termuxify/data/data/com.termux/files/usr/share/termuxify/
